numpy~=1.26.3
pandas~=2.2.2
scipy~=1.14.0
# keras~=3.5.0
scikit-learn~=1.5.1
tensorflow~=2.17.0
scanpy~=1.10.3
torch~=2.4.1
setuptools~=75.1.0
keras~=3.5.0
anndata~=0.10.9
seaborn~=0.13.2
matplotlib~=3.9.2